<!DOCTYPE html>
<html lang="en">
      <head>
         <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
         <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
      </head>
      <body>
         <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
               <div class="navbar-header">
                  <a class="navbar-brand" href="#">URL Shortener</a>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
               </div>
               <!--/.navbar-collapse -->
            </div>
         </nav>
         <!-- Main jumbotron for a primary marketing message or call to action -->
         <div class="jumbotron">
            <div class="container">
               <br />
               {% if not short_url %}
               <div class="row">
                  <div class="col-md-offset-5 col-md-3">
                     <h4>Enter URL to shorten.</h4>
                     <form method="post" class="navbar-form navbar-left" action="">
                        <div class="form-group">
                           <input type="text" id="url" name="url" class="form-control input-lg chat-input" placeholder="URL" />
                           <button type="submit" class="btn btn-lg btn-info">Submit</button>
                        </div>
                     </form>
                  </div>
               </div>
               {% else %}
               <div>
                  Shortened URL is: <a href="{{short_url}}"> {{short_url}}</a>
               </div>
               {% endif %}
            </div>
         </div>
         
         </div> 
      </body>
   </html>
